################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QRAndBarCodeReader/QRAndBarCodeReader/bin/Debug/netstandard2.0
/QRAndBarCodeReader/QRAndBarCodeReader/obj
/QRAndBarCodeReader/QRAndBarCodeReader.Android/bin/Debug
/QRAndBarCodeReader/QRAndBarCodeReader.Android/obj
/QRAndBarCodeReader/QRAndBarCodeReader/bin/Release/netstandard2.0
/QRAndBarCodeReader/QRAndBarCodeReader.Android/bin/Release
